
@{
    ViewBag.Title = "Announcements";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<h2>Announcements</h2>

<div class="container-scroller">
    <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="flash-news-banner">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-between">
                    <div class="card">
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="../../images/QCYDO.png" width="200" height="200" class="">

                                        </div>
                                        <div class="badge-positioned">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8  grid-margin">
                                    <a href="https://web.facebook.com/QCYDO/posts/3801361856588906?_rdc=1&_rdr">
                                        <h2 class="mb-2 font-weight-600">
                                            QUEZON CITY UNIVERSITY SCHOLARSHIP, GRANTS AND ASISTANCE DIVISION
                                            (QCU-SGAD)
                                        </h2>
                                    </a>
                                    <div class="fs-13 mb-2">

                                        <span class="mr-2">
                                            February 4, 2021 via QC Youth Development Office | 6:09PM
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">

                                            <img src="../../images/ReOpening.jpg" width="200" height="200" class="">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8  grid-margin">
                                    <a href="https://web.facebook.com/QCUSPARDivision/posts/407998313902102?_rdc=1&_rdr">
                                        <h2 class="mb-2 font-weight-600">
                                            OPENING OF QC-QCU Scholarship Online Application and Renewal
                                        </h2>
                                    </a>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2">
                                            FEBRUARY 6, 2020 via QCU Scholarship and Placement Alumni
                                            Relations Divisione | 4:09 PM
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-4 grid-margin">
                                    <div class="position-relative">
                                        <div class="rotate-img">
                                            <img src="../../images/StudentAffair.jpg" width="200" height="200" class="">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8  grid-margin">
                                    <a href="https://web.facebook.com/permalink.php?story_fbid=379050280117661&id=108688083820550&_rdc=1&_rdr">
                                        <h2 class="mb-2 font-weight-600">
                                            FOR DROPPING OF SUBJECT/S
                                        </h2>
                                    </a>
                                    <div class="fs-13 mb-2">
                                        <span class="mr-2">
                                            November 2, 2020 via Quezon City University Student
                                            Affairs and Services Division | 10:28AM
                                        </span>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 grid-margin">
                                            <div class="position-relative">
                                                <div class="rotate-img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>