
@{
    ViewBag.Title = "NewsUpdate";
    Layout = "~/Views/Shared/_Student.cshtml";
}
<h2>Lastest News</h2>
<div class="content-wrapper">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-xl-5stretch-card grid-margin">
                <div class="position-relative">
                    <center><img src="../../images/JOY.jpg" alt="banner" class="img-fluid" /></center>
                    <div class="banner-content">
                        <div class="badge badge-danger fs-12 font-weight-bold mb-2">
                            pin news
                        </div>
                        <a href="https://web.facebook.com/qcu.ssc/posts/10158048922682701?_rdc=1&_rdr">
                            <h2 class="mb-0">THE CEREMONIAL TURNOVER OF DELL CORE I3 8TH GENERATION LAPTOPS.</h2>
                        </a>
                        <h2 class="mb-2">
                            NOVEMBER 6, 2020
                        </h2>
                        <div class="fs-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-10 stretch-card grid-margin">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h2>Latest news</h2>

                        <div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                            <div class="pr-3">
                                <a href="https://web.facebook.com/OfficialQCUCSS/posts/1112635282505207">
                                    <h10>
                                        President Theresita V. Atienza visit CHED Chairman Prof Popoy De Vera to give the Manuel L.
                                        Quezon Leadership in Education award, presented during the 2020 QCU Graduation Exercises.
                                    </h10>
                                </a>
                                <div class="fs-12">
                                    <span class="mr-2">
                                        January 20,2021 via QCU Creative Student Society - LIKHA Production | 8:42PM
                                    </span>
                                </div>
                            </div>
                            <div class="rotate-img">
                                <img src="../../images/X.jpg" alt="thumb" class="img-fluid img-lg" />
                            </div>
                        </div>

                        <div class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between">
                            <div class="pr-3">
                                <a href="https://web.facebook.com/Iesports2020/posts/115129650468137">
                                    <h10>
                                        Philippine Institute of Industrial Engineers - National Student Chapter would like to
                                        warmly congratulate the winners of the Mobile Legends Tournament NCR Qualifying Rounds on
                                    </h10>
                                    their well-deserved success.
                                </a>
                                <div class="fs-12">
                                    <span class="mr-2">January 13, 2020 via IEsports by PIIE NSC PAGE | 12:00PM </span>
                                </div>
                            </div>
                            <div class="rotate-img">
                                <img src="../../images/ML.jpg" alt="thumb" class="img-fluid img-lg" />
                            </div>
                        </div>

                        <div class="d-flex pt-4 align-items-center justify-content-between">
                            <div class="pr-3">
                                <a href="https://web.facebook.com/OfficialQCUCSS/posts/1107077736394295">
                                    <h10>Change on the QCU Organization Structure, On-going.</h10>
                                </a>
                                <div class="fs-12">
                                    <span class="mr-2">
                                        January 11, 2021 via QCU Creative Student Society - LIKHA Production |
                                        2:09PM
                                    </span>
                                </div>
                            </div>
                            <div class="rotate-img">
                                <img src="../../images/C.png" alt="thumb" class="img-fluid img-lg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                            <div class="rotate-img">
                                <img src="../../images/I.jpg" alt="thumb" class="img-fluid" />
                            </div>
                            <div class="badge-positioned">
                                <span class="badge badge-danger font-weight-bold"> PIN UPDATE</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin">
                        <a href="https://web.facebook.com/OfficialQCUCSS/posts/1062355294199873">
                            <h2 class="mb-2 font-weight-600">
                                [JUST IN] The First Flag Ceremony of the Newly-Elected QCU President
                            </h2>
                        </a>
                        <div class="fs-13 mb-2">

                            <span class="mr-2">
                                NOVEMBER 9, 2020 via QCU Creative Student Society - LIKHA Production | 10:35AM
                            </span>
                        </div>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                            <div class="rotate-img">

                                <img src="../../images/Y.jpg" width="300" height="300" class="">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin">
                        <a href="https://web.facebook.com/QCYDO/posts/3803631989695226">
                            <h2 class="mb-2 font-weight-600">
                                DESIGNATED GOOGLE LINK/FORM FOR QCYDO TRANSACTIONS
                            </h2>
                        </a>
                        <div class="fs-13 mb-2">
                            <span class="mr-2">FEBRUARY 5, 2021 via QC Youth Development Office | 4:17PM </span>
                        </div>

                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4 grid-margin">
                        <div class="position-relative">
                            <div class="rotate-img">
                                <img src="../../images/Z.png" alt="thumb" class="img-fluid" />

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8  grid-margin">
                        <a href="https://web.facebook.com/108688083820550/videos/815623505834551/?_rdc=1&_rdr">
                            <h2 class="mb-2 font-weight-600">
                                Topic: Quezon City University's Online Orientation on Laptop and Wi-fi Usufruct Usage and Handling
                                Policies
                            </h2>
                        </a>
                        <div class="fs-13 mb-2">
                            <span class="mr-2">
                                FEBRUARY 16, 2021 via Quezon City University Student Affairs and Services
                                Division | 8:24AM
                            </span>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
