

@{
    ViewBag.Title = "TeachersEvaluation";
    Layout = "~/Views/Shared/_Student.cshtml";
}

<h2>TeachersEvaluation</h2>`


<div>

    <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
    <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.22971" type="text/javascript"></script>
    <script type="text/javascript">
        JotForm.setConditions([{ "action": [{ "id": "action_1612357151274", "field": "23", "visibility": "Require", "isError": false }, { "id": "action_1612357146641", "field": "22", "visibility": "Require", "isError": false }, { "id": "action_1612357137090", "field": "19", "visibility": "Require", "isError": false }, { "id": "action_1612357133674", "field": "34", "visibility": "Require", "isError": false }, { "id": "action_1612357126608", "field": "44", "visibility": "Require", "isError": false }, { "id": "action_1612357007183", "field": "43", "visibility": "Require", "isError": false }], "id": "1612357154042", "index": "0", "link": "Any", "priority": "0", "terms": [{ "id": "term_1612357066777", "field": "23", "operator": "isEmpty", "value": "", "isError": false }, { "id": "term_1612357062225", "field": "22", "operator": "isEmpty", "value": "", "isError": false }, { "id": "term_1612357043625", "field": "19", "operator": "isEmpty", "value": "", "isError": false }, { "id": "term_1612357036825", "field": "34", "operator": "isEmpty", "value": "", "isError": false }, { "id": "term_1612357029433", "field": "44", "operator": "isEmpty", "value": "", "isError": false }, { "id": "term_1612357007183", "field": "43", "operator": "isEmpty", "value": "", "isError": false }], "type": "require" }]);
        JotForm.init(function () {
            if (window.JotForm && JotForm.accessible) $('input_19').setAttribute('tabindex', 0);
            if (window.JotForm && JotForm.accessible) $('input_22').setAttribute('tabindex', 0);
            if (window.JotForm && JotForm.accessible) $('input_23').setAttribute('tabindex', 0);
            JotForm.newDefaultTheme = true;
            JotForm.extendsNewTheme = false;
            JotForm.newPaymentUIForNewCreatedForms = false;
            JotForm.newPaymentUI = true;
            JotForm.clearFieldOnHide = "disable";
            /*INIT-END*/
        });

        JotForm.prepareCalculationsOnTheFly([null, null, null, null, null, null, null, null, null, null, null, null, null, null, { "name": "submit", "qid": "14", "text": "Submit", "type": "control_button" }, null, null, null, null, { "name": "pleaseSubmit", "qid": "19", "text": "Please submit any further comments below.", "type": "control_textarea" }, { "name": "clickTo", "qid": "20", "text": "Thank you for completing our survey.  We truly appreciate your feedback!", "type": "control_text" }, { "name": "clickTo21", "qid": "21", "text": "Please provide your email address and telephone number if you would like us to contact you regarding any questions.", "type": "control_text" }, { "name": "name", "qid": "22", "text": "Name:", "type": "control_textbox" }, { "name": "emailAddress23", "qid": "23", "text": "E-mail Address", "type": "control_textbox" }, null, null, { "name": "clickTo26", "qid": "26", "text": "Camper Satisfaction Survey", "type": "control_head" }, null, null, null, null, null, null, null, { "name": "34", "qid": "34", "text": "Please choose the word that best describes each line.", "type": "control_matrix" }, null, null, null, null, null, null, null, null, { "description": "", "name": "professor", "qid": "43", "subLabel": "", "text": "Professor", "type": "control_dropdown" }, { "description": "", "name": "subject", "qid": "44", "subLabel": "", "text": "Subject", "type": "control_dropdown" }]);
        setTimeout(function () {
            JotForm.paymentExtrasOnTheFly([null, null, null, null, null, null, null, null, null, null, null, null, null, null, { "name": "submit", "qid": "14", "text": "Submit", "type": "control_button" }, null, null, null, null, { "name": "pleaseSubmit", "qid": "19", "text": "Please submit any further comments below.", "type": "control_textarea" }, { "name": "clickTo", "qid": "20", "text": "Thank you for completing our survey.  We truly appreciate your feedback!", "type": "control_text" }, { "name": "clickTo21", "qid": "21", "text": "Please provide your email address and telephone number if you would like us to contact you regarding any questions.", "type": "control_text" }, { "name": "name", "qid": "22", "text": "Name:", "type": "control_textbox" }, { "name": "emailAddress23", "qid": "23", "text": "E-mail Address", "type": "control_textbox" }, null, null, { "name": "clickTo26", "qid": "26", "text": "Camper Satisfaction Survey", "type": "control_head" }, null, null, null, null, null, null, null, { "name": "34", "qid": "34", "text": "Please choose the word that best describes each line.", "type": "control_matrix" }, null, null, null, null, null, null, null, null, { "description": "", "name": "professor", "qid": "43", "subLabel": "", "text": "Professor", "type": "control_dropdown" }, { "description": "", "name": "subject", "qid": "44", "subLabel": "", "text": "Subject", "type": "control_dropdown" }]);
        }, 20);
    </script>
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.22971" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251" />

    <form class="jotform-form" action="https://submit.jotform.com/submit/210310861957454/" method="post" name="form_210310861957454" id="210310861957454" accept-charset="utf-8" autocomplete="on">
        <input type="hidden" name="formID" value="210310861957454" />
        <input type="hidden" id="JWTContainer" value="" />
        <input type="hidden" id="cardinalOrderNumber" value="" />
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li id="cid_26" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httal htvam">
                            <h1 id="header_26" class="form-header" data-component="header">
                                Camper Satisfaction Survey
                            </h1>
                            <div id="subHeader_26" class="form-subHeader">
                                Please provide information about your experience with the camp
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_dropdown" id="id_43">
                    <label class="form-label form-label-top form-label-auto" id="label_43" for="input_43"> Professor </label>
                    <div id="cid_43" class="form-input-wide" data-layout="half">
                        <select class="form-dropdown" id="input_43" name="q43_professor" style="width:310px" data-component="dropdown" aria-labelledby="label_43">
                            <option value=""> Please Select </option>
                            <option value="Peter M. Asturias "> Peter M. Asturias </option>
                            <option value="Cathelyn R. Hidacan - Belarmino"> Cathelyn R. Hidacan - Belarmino </option>
                            <option value="Rodrigo Genavia"> Rodrigo Genavia </option>
                            <option value="Maria Aura Impang"> Maria Aura Impang </option>
                            <option value="Jubanie Madrileño"> Jubanie Madrileño </option>
                            <option value="Nikka Salvador"> Nikka Salvador </option>
                        </select>
                    </div>
                </li>
                <li class="form-line" data-type="control_dropdown" id="id_44">
                    <label class="form-label form-label-top form-label-auto" id="label_44" for="input_44"> Subject </label>
                    <div id="cid_44" class="form-input-wide" data-layout="half">
                        <select class="form-dropdown" id="input_44" name="q44_subject" style="width:310px" data-component="dropdown" aria-labelledby="label_44">
                            <option value=""> Please Select </option>
                            <option value="Architecture and Organization"> Architecture and Organization </option>
                            <option value="Art Appreciation"> Art Appreciation </option>
                            <option value="Contemporary World"> Contemporary World </option>
                            <option value="SYSTEM INTEGRATION AND ARCHITECTURE 1"> SYSTEM INTEGRATION AND ARCHITECTURE 1 </option>
                            <option value="THE LIFE, WORKS AND WRITINGS OF DR. RIZAL"> THE LIFE, WORKS AND WRITINGS OF DR. RIZAL </option>
                            <option value="Integrative Programming and Technologies 2"> Integrative Programming and Technologies 2 </option>
                        </select>
                    </div>
                </li>
                <li class="form-line" data-type="control_matrix" id="id_34">
                    <label class="form-label form-label-top" id="label_34" for="input_34"> Please choose the word that best describes each line. </label>
                    <div id="cid_34" class="form-input-wide" data-layout="full">
                        <table summary="" role="presentation" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                            <tr class="form-matrix-tr form-matrix-header-tr">
                                <th class="form-matrix-th" style="border:none">

                                </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0">
                                    <label id="label_34_col_0"> Awesome </label>
                                </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1">
                                    <label id="label_34_col_1"> Good </label>
                                </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2">
                                    <label id="label_34_col_2"> Okay </label>
                                </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3">
                                    <label id="label_34_col_3"> (Doesn't apply to me) </label>
                                </th>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_0">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_0"> Teacher is prepared for class. </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_0_0" class="form-radio" name="q34_34[0]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_0_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_0_1" class="form-radio" name="q34_34[0]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_0_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_0_2" class="form-radio" name="q34_34[0]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_0_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_0_3" class="form-radio" name="q34_34[0]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_0_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_1">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_1"> Teacher knows his/her subject </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_1_0" class="form-radio" name="q34_34[1]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_1_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_1_1" class="form-radio" name="q34_34[1]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_1_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_1_2" class="form-radio" name="q34_34[1]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_1_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_1_3" class="form-radio" name="q34_34[1]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_1_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_2">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_2"> Teacher Is organized and neat </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_2_0" class="form-radio" name="q34_34[2]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_2_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_2_1" class="form-radio" name="q34_34[2]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_2_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_2_2" class="form-radio" name="q34_34[2]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_2_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_2_3" class="form-radio" name="q34_34[2]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_2_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_3">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_3"> Teacher plans class time and assignments that help students to problem solve and think critically. Teacher provides activities that make subject matter meaningful. </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_3_0" class="form-radio" name="q34_34[3]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_3_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_3_1" class="form-radio" name="q34_34[3]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_3_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_3_2" class="form-radio" name="q34_34[3]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_3_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_3_3" class="form-radio" name="q34_34[3]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_3_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_4">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_4"> Teacher is Flexible in accommodating for individual student needs. </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_4_0" class="form-radio" name="q34_34[4]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_4_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_4_1" class="form-radio" name="q34_34[4]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_4_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_4_2" class="form-radio" name="q34_34[4]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_4_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_4_3" class="form-radio" name="q34_34[4]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_4_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_5">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_5"> Teacher is clear in giving directions and on explaining what is expected on assignments and tests. </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_5_0" class="form-radio" name="q34_34[5]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_5_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_5_1" class="form-radio" name="q34_34[5]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_5_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_5_2" class="form-radio" name="q34_34[5]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_5_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_5_3" class="form-radio" name="q34_34[5]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_5_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_6">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_6"> Teacher allow you to be active in classroom learning Environment </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_6_0" class="form-radio" name="q34_34[6]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_6_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_6_1" class="form-radio" name="q34_34[6]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_6_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_6_2" class="form-radio" name="q34_34[6]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_6_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_6_3" class="form-radio" name="q34_34[6]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_6_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_7">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_7"> The teacher manages the time well. </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_7_0" class="form-radio" name="q34_34[7]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_7_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_7_1" class="form-radio" name="q34_34[7]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_7_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_7_2" class="form-radio" name="q34_34[7]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_7_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_7_3" class="form-radio" name="q34_34[7]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_7_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_8">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_8"> The teacher returns homework in a timely manner </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_8_0" class="form-radio" name="q34_34[8]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_8_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_8_1" class="form-radio" name="q34_34[8]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_8_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_8_2" class="form-radio" name="q34_34[8]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_8_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_8_3" class="form-radio" name="q34_34[8]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_8_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_9">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_9"> Teacher has clear classroom procedures so students </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_9_0" class="form-radio" name="q34_34[9]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_9_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_9_1" class="form-radio" name="q34_34[9]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_9_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_9_2" class="form-radio" name="q34_34[9]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_9_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_9_3" class="form-radio" name="q34_34[9]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_9_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_10">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_10"> The teacher has clear classroom procedures so students don’t waste time </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_10_0" class="form-radio" name="q34_34[10]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_10_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_10_1" class="form-radio" name="q34_34[10]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_10_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_10_2" class="form-radio" name="q34_34[10]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_10_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_10_3" class="form-radio" name="q34_34[10]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_10_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" role="group" aria-labelledby="label_34 label_34_row_11">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers">
                                    <label id="label_34_row_11"> Teacher grade fairly </label>
                                </th>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_11_0" class="form-radio" name="q34_34[11]" value="Awesome " aria-labelledby="label_34_col_0" />
                                    <label for="input_34_11_0" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_11_1" class="form-radio" name="q34_34[11]" value="Good" aria-labelledby="label_34_col_1" />
                                    <label for="input_34_11_1" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_11_2" class="form-radio" name="q34_34[11]" value="Okay" aria-labelledby="label_34_col_2" />
                                    <label for="input_34_11_2" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                                <td class="form-matrix-values">
                                    <input type="radio" id="input_34_11_3" class="form-radio" name="q34_34[11]" value="(Doesn\&#x27;t apply to me)" aria-labelledby="label_34_col_3" />
                                    <label for="input_34_11_3" class="matrix-choice-label matrix-radio-label">  </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="form-line" data-type="control_textarea" id="id_19">
                    <label class="form-label form-label-top form-label-auto" id="label_19" for="input_19"> Please submit any further comments below. </label>
                    <div id="cid_19" class="form-input-wide" data-layout="full">
                        <textarea id="input_19" class="form-textarea" name="q19_pleaseSubmit" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_19"></textarea>
                    </div>
                </li>
                <li class="form-line" data-type="control_text" id="id_21">
                    <div id="cid_21" class="form-input-wide" data-layout="full">
                        <div id="text_21" class="form-html" data-component="text">
                            <p>Please provide your email address and telephone number if you would like us to contact you regarding any questions.</p>
                        </div>
                    </div>
                </li>
                <li class="form-line form-line-column form-col-1" data-type="control_textbox" id="id_22">
                    <label class="form-label form-label-top form-label-auto" id="label_22" for="input_22"> Name: </label>
                    <div id="cid_22" class="form-input-wide" data-layout="half">
                        <input type="text" id="input_22" name="q22_name" data-type="input-textbox" class="form-textbox" style="width:310px" size="310" value="" placeholder=" " data-component="textbox" aria-labelledby="label_22" />
                    </div>
                </li>
                <li class="form-line form-line-column form-col-2" data-type="control_textbox" id="id_23">
                    <label class="form-label form-label-top form-label-auto" id="label_23" for="input_23"> E-mail Address </label>
                    <div id="cid_23" class="form-input-wide" data-layout="half">
                        <input type="text" id="input_23" name="q23_emailAddress23" data-type="input-textbox" class="form-textbox" style="width:310px" size="310" value="" placeholder=" " data-component="textbox" aria-labelledby="label_23" />
                    </div>
                </li>
                <li class="form-line" data-type="control_text" id="id_20">
                    <div id="cid_20" class="form-input-wide" data-layout="full">
                        <div id="text_20" class="form-html" data-component="text">
                            <p>Thank you for completing our survey.  We truly appreciate your feedback!</p>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_14">
                    <div id="cid_14" class="form-input-wide" data-layout="full">
                        <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
                            <button id="input_14" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                                Submit
                            </button>
                        </div>
                    </div>
                </li>
                <li style="display:none">
                    Should be Empty:
                    <input type="text" name="website" value="" />
                </li>
            </ul>
        </div>

        <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="210310861957454" />
        <script type="text/javascript">
            var all_spc = document.querySelectorAll("form[id='210310861957454'] .si" + "mple" + "_spc");
            for (var i = 0; i < all_spc.length; i++) {
                all_spc[i].value = "210310861957454-210310861957454";
            }
        </script>


    </form>
    <script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.22971"></script>
    <script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.22971"></script>
</div>