
@{
    ViewBag.Title = "LogInStudent";
    Layout = "~/Views/Shared/_Home.cshtml";
}




<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Student Login</h3>
                            <p class="mb-4" id="msgEr" style="color:red"></p>
                        </div>
                        <form action="/Home/loginCheckerStudent" method="post" id="registrationFormStudent">
                            <div class="form-group first">
                                <label for="Studentnum">Student Number</label>
                                <input type="text" class="form-control" id="Studentnum" name="Studentnum" required>

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="Password" name="Password" required>

                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" data-toggle="modal" data-target="#forgotpasswordModal">Forgot Password?</a>
                                <a class="small" href="@Url.Action("LogIn","Home")">Login As Administrator</a>

                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" data-toggle="modal" data-target="#passwordresetModal">Reset my Password</a>
                            </div>
                            <div class="col mt-4">
                                <center> <button class="btn btn-lg btn-primary btn-block btn-signin" id="signIn" type="submit">Sign in</button></center>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@*modal for forgot password*@
<div id="forgotpasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/CheckStudentnum" method="post" class="form-horizontal" id="ForgotForm">
                    <p>Please type your Student Number to identify your account.</p>

                    <div class="form-group">
                        <label>Type your Student Number</label>
                        <input type="text" id="Studentnum" name="Studentnum" class="form-control" />
                    </div>
                    <div class="form-group">

                        <input type="hidden" id="Code" name="Code" class="form-control" />
                    </div>

                    <input type="submit" class="btn btn-success" onclick="GenerateCode()" value="Continue">

                </form>
            </div>
        </div>
    </div>
</div>

@*modal for password reset*@
<div id="passwordresetModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Password Reset</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/CheckCode" method="post" class="form-horizontal" id="ResetPasswordForm">
                    <p>Please type your Student Number to identify your account.</p>

                    <div class="form-group">
                        <label>Type your Student Number</label>
                        <input type="text" name="Username" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Type your Password Reset Code</label>
                        <input type="text" name="Code" class="form-control" />
                    </div>

                    <input type="submit" class="btn btn-success" value="Continue">

                </form>
            </div>
        </div>
    </div>
</div>


<script>function GenerateCode() {
        var x = Math.floor((Math.random() * 100000000) + 1);
        document.getElementById("Code").value = x;

    }</script>


@Scripts.Render("~/bundles/Login")