
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Password Reset</h3>
                            <p class="mb-4" id="msgEr" style="color:red"></p>
                        </div>
                        <form action="/Home/UpdPassword" method="post" id="NewPasswordForm">
                            <input type="hidden" name="Studentnum" class="form-control" value="@Session["UserName"].ToString()" />
                            <div class="form-group last mb-4">
                                <label for="password">Type your new Password</label>
                                <input type="password" class="form-control" id="Password" name="Password">
                            </div>

                            <div class="form-group last mb-4">
                                <label for="confirmpassword">Re-type your new Password</label>
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">

                            </div>

                            <div class="col mt-4">
                                <center><input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Enter"></center>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/Login")