<div id="ajaxLoader" style="background-color: #000000; opacity: 0.5; width: 100vw; height: 100vw; z-index: 9999; position: fixed; display: none;" class="">
    <img src="../../img/loading.gif" style="width:100px;height:100px;margin-left:auto;margin-right:auto;margin-bottom:auto;margin-top:auto;top:45%;left:45%;opacity:1.0;position:fixed;">
</div>