
@{
    ViewBag.Title = "StudentsInquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students Inquiry</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of Questions and Concerns
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="tblquestions">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Inquiry Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <label class="font-weight-bold" for="Studentnum">Studentnum: </label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span name="Studentnum" id="modalStudentnum"></span> <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <label class="font-weight-bold" for="Email">Email: </label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span name="Email" id="modalEmail"></span><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <label class="font-weight-bold" for="Subject">Subject: </label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span name="Subject" id="modalSubject"></span><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <label class="font-weight-bold" for="Content">Content : </label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span name="Content" id="modalContent"></span> <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <label class="font-weight-bold" for="Status">Status: </label>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span name="Status" id="modalStatus"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="reply" data-dismiss="modal" data-toggle="modal" data-target="#replyModal">Reply</button>
                <button type="button" class="btn btn-secondary" id="editData" data-dismiss="modal" data-toggle="modal" data-target="#statusModal">Edit</button>
                <button type="button" class="btn btn-danger" id="deleteData">Delete</button>
            </div>
        </div>
    </div>
</div>

@*change status*@

<div id="statusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form action="/Admin/UpdStatus" method="post" class="form-horizontal" id="Statusform">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 col-sm-3">
                                <label class="font-weight-bold" for="Status">Change Status: </label>
                            </div>
                            <div col="2">
                                <input type="hidden" name="Studentnum" id="Studentnummodal" class="form-control" value="Administrator" />
                                <select class="form-control" id="status" name="status">
                                    <option value=""></option>
                                    <option value="On Process">On Process</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Closed">Closed</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-success" value="SAVE">

                </form>
            </div>
        </div>
    </div>
</div>



<div id="replyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form action="/Admin/StudentsInquiry" method="post" class="form-horizontal" id="Replyform">
                    <div class="form-group">
                        @*<label>Name</label>*@
                        <input type="hidden" name="Name" class="form-control" value="Administrator" />
                    </div>
                    <div class="form-group">
                        <label>Receiver</label>
                        <input type="text" id="Emailmodal" name="Receiver" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="modalSubject" name="Subject" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Reply</label>
                        <textarea name="Message" rows="3" class="form-control"></textarea>
                    </div>

                    <input type="submit" class="btn btn-success" value="Send">

                </form>
            </div>
        </div>
    </div>
</div>


<script src="../../Scripts/getInquiry.js"></script>